/* Globals */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1b1b1b;
}

/* Dimmer Thanks Semantic UI */
.sbr-dimmer-parent {
  transition: opacity 0.5s;
  opacity: 1;
}

.sbr-dimmer-parent.hide {
  opacity: 0;
  pointer-events:none;
}

.sbr-dimmer-display-none {
  display: none;
}

.sbr-dimmer {
  display: flex;
  position: fixed;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  /* background-color: #03a9f4; */
  background-color: #1b1b1b;
  opacity: 1;
  line-height: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: opacity;
  z-index: 10000;
}

.sbr-dimmer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.sbr-dimmer-img {
  height: 100px;
  width: 100px;
}

/* CSS Transition Group */
.sbr-transition-appear {
  opacity: 0.01;
}

.sbr-transition-appear.sbr-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sbr-transition-leave {
  opacity: 1;
}

.sbr-transition-leave.sbr-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Media Queries */
/* Small screen and Up */
@media (min-width: 576px) {
}

/* Tablets and Up */
@media (min-width: 768px) {
}

/* Desktop and Up */
@media (min-width: 992px) {
}

/* Large Desktops and Up */
@media (min-width: 1200px) {
}

/* Super Large Screens and Up */
@media (min-width: 1400px) {
}
