/* Heights */
.plata-section-50 {
  min-height: 50rem;
}

.plata-section-40 {
  min-height: 40rem;
}

.plata-section-30 {
  min-height: 30rem;
}

.plata-section-20 {
  min-height: 20rem;
}

/* Backgrounds */
.plata-background-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/plata-fire-public/o/plata-app-header-img-black.jpg?alt=media');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.plata-back-prime {
  background-color: #039be5;
}

.plata-back-prime-light {
  background-color: #63ccff;
}

.plata-back-prime-dark {
  background-color: #006db3;
}

.plata-back-grey {
  background-color: #212121;
}

.plata-back-grey-light {
  background-color: #484848;
}

.plata-back-grey-dark {
  background-color: #000000;
}

/* Text */
.plata-color-white {
  color: #fff;
}

/* Padding */
.plata-padding-1 {
  padding: 1rem;
}

.plata-padding-2 {
  padding: 2rem;
}

/* CSS Transition Group */
.plata-transition-appear {
  opacity: 0.01;
}

.plata-transition-appear.plata-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.plata-transition-leave {
  opacity: 1;
}

.plata-transition-leave.plata-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Custom Component Classes */
.home-cards-section {
  padding: 1rem;
}

.home-individual-card {
  padding: 2rem;
}

/* Media Queries */
/* Small screen and Up */
@media (min-width: 576px) {
}

/* Tablets and Up */
@media (min-width: 768px) {
}

/* Desktop and Up */
@media (min-width: 992px) {
  .home-cards-section {
    padding: 8rem 2rem;
  }
  .home-individual-card {
    padding: 3rem;
  }
}

/* Large Desktops and Up */
@media (min-width: 1200px) {
  .home-cards-section {
    padding: 10rem 2rem;
  }
  .home-individual-card {
    padding: 4rem;
  }
}

/* Super Large Screens and Up */
@media (min-width: 1400px) {
  .home-cards-section {
    padding: 10rem 5rem;
  }
  .home-individual-card {
    padding: 5rem;
  }
}
