/* Plata Custom */
.plata-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/plata-fire-public/o/plata-app-header-img-black.jpg?alt=media');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.plata-section-40 {
  height: 40rem;
}

.plata-section-30 {
  height: 30rem;
}

.plata-section-20 {
  height: 20rem;
}

.plata-back-dark {
  background-color: #212121;
}

.plata-color-white {
  color: #fff;
}

/* CSS Transition Group */
.plata-transition-appear {
  opacity: 0.01;
}

.plata-transition-appear.plata-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.plata-transition-leave {
  opacity: 1;
}

.plata-transition-leave.plata-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
