/* Globals */
body {
  font-family: 'Roboto', sans-serif;
}

/* CSS Transition Group */
.sbr-transition-appear {
  opacity: 0.01;
}

.sbr-transition-appear.sbr-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.sbr-transition-leave {
  opacity: 1;
}

.sbr-transition-leave.sbr-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Media Queries */
/* Small screen and Up */
@media (min-width: 576px) {}

/* Tablets and Up */
@media (min-width: 768px) {}

/* Desktop and Up */
@media (min-width: 992px) {}

/* Large Desktops and Up */
@media (min-width: 1200px) {}

/* Super Large Screens and Up */
@media (min-width: 1400px) {}
