/* Globals */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: #1CAF9A; */
}

#root {
  height: 100%;
}

.plata-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/plata-fire-public/o/background.jpg?alt=media');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.plata-background-color {
  background-color: #1CAF9A;
}

/* Semantic Override */
.ui.inverted.button:hover {
  color: #1CAF9A;
}

.plata-transition-appear {
  opacity: 0.01;
}

.plata-transition-appear.plata-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.plata-transition-leave {
  opacity: 1;
}

.plata-transition-leave.plata-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
